.navbar-brand {color: beige;}
.nav-item {color: beige;}
.black {color: #000;}
.grey {color: rgb(150, 144, 144);}
.bold {font-size: 70px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.background-green {background-color: teal;}
.tealbg {background-color: teal;}
.teal {color: teal;}
.flex-container {display: flex; flex-direction: row; align-content: space-between;}
.flex-container2 {display:flex; height: 1030px; flex-wrap: wrap; align-content: flex-end;}
.card-padding {padding:10px 10px 10px 10px;}
.card-margin {margin: 5px 5px 5px 5px; margin: ;}